html,
body {

	height: 100%;
	}

body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 100; 
	background: url(../images/menu_background.jpg) center top no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}

.header {
	position: relative;
	text-align: center;
	top: -100px;
	padding: 50px;
	
	
}

.b-logo {
	position: relative;
	padding: 200px 0px 0px 0px;
	
	text-align: center;
	
}

.b-title {
	text-align: center;
	color: white;
}

.bottom-address {
	font-size: 12pt;
	color: white;
	font-weight: 100;
	position: relative;
	bottom: 30px;
	text-align: center;
}

.bottom-address p {
	display: inline;
	padding: 20px;
	
	
}

.bottom-address .separator {
	padding-left: 26px;
	background: url('../images/frontpage_dot.png') left center no-repeat;
}

.hours {
	float: left;
	width: 50%;
	text-align: center;
	
	
}


h1 {
	font-weight: 100;
	font-size: 75pt;
}

h2 {
	font-weight: 100;
	font-size: 35pt;
}

h3 {
	font-weight: 100;
	font-size: 20pt;
}

h4 {
	font-weight: 100;
	font-size: 15pt;
}

h5 {
	font-weight: 100;
}

h6 {
	font-weight: 100;
}

.nav {
	list-style-type: none;
	font-style; none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 10px;
	right: 10px;
	color: white;
	
}

.nav-home:hover{
	opacity: .33;
}

.nav-info:hover{
	opacity: .33;
}

.nav-menu:hover{
	opacity: .33;
}

.nav-maps:hover{
	opacity: .33;
}


.nav li {
	display:inline;
	padding:10px;
	margin:10px;
	
}

.nav a:link,
.nav a:visited {
	color: white;
	text-decoration: none;
}
.info {
	list-style-type: none;
	background-color: #e6e0da;
	padding: 50px;
	overflow: hidden;
	
	
}

.cater-reservation {
	text-align: center;
	line-height: 200%;
	display: block;
	
	float: right;
	width: 50%;
	
}

.cater-reservation h2{
  line-height: 100%;
  
}

.cater-reservation p {
	font-weight: 100;
	text-align: center;
	font-size: 15pt;
}

.menu {
	background-color: #ebebeb;
	padding: 50px;
	text-align: center;
	
}

.section-title {
	position: relative;
	font-weight: 100;
	text-align: center;
	top: -50px;
	
}

.course-title em {
	font-style: normal;
	font-size: 30pt;
}

.menu-list {
	list-style-type: none;
	position: relative;
	
}

.menu-list p {
	font-weight: 100;
}

.maps {
	color: white;
	background-color: #383535;
	padding-top: 100px;
}

.map{
	text-align: center;
	padding-bottom: 100px;
	
}

@media (max-width: 950px) {
  
	.nav {
    	display: none;
	}
  
  	.info {
  		text-align: center;
  	}
  
	.cater-reservation , 
	.hours {
		margin: auto;
    	width: 250px;
    	float: none;
    	
	}  
}

@media (max-width: 500px) {
	
	.bottom-address {
		display: none;
	}
}